@page
@model ArticulosWeb.Pages.Articulo.AdminModel
@{
    ViewData["Title"] = "Administración";
}
<div class="hidden usr_admi usr_user">
<h2>Mis Artículos</h2>

<div class="mb-4">
    <h5 id="formTitulo">Nuevo artículo</h5>
    <form id="articuloForm">
        <input type="hidden" id="idArticulo" />
        <input type="text" id="titulo" class="form-control mb-2" placeholder="Título" required />
        <input type="text" id="resumen" class="form-control mb-2" placeholder="Resumen" required />
            <div id="editor-container"></div>
      @*   <textarea id="contenido" class="form-control mb-2" placeholder="Contenido" required></textarea> *@
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>   Guardar</button>
        <button type="button" id="cancelar" class="btn btn-secondary"><i class="fas fa-cancel"></i>   Cancelar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
             <th>Autor</th><th>Título</th><th>Fecha de Publicación</th><th width="150px">Acciones</th>
        </tr>
    </thead>
    <tbody id="tablaArticulos"></tbody>
</table>
</div>
@section Scripts {
<script>
    var Articulos=[];
          var quill = new Quill('#editor-container', {
          theme: 'snow'
        });
    function cargarArticulos() {
        wait('Obteniendo articulos...');
            $.get(`${apiUri}/api/articles`, function (data) {   
                //var hidden= userType==1?'':'hidden';

                if(userType==2)
                data = data.filter(f=> f.autorId==user.id);

                    Articulos = data;
            let html = '';
            data.forEach(a => {
                     var fecha= new Date(a.fechaCreacion).toLocaleDateString("es-NI");
                html += `<tr>
                    <td>${a.autor}</td>
                    <td>${a.titulo}</td>
                    <td>${fecha}</td>
                    <td>
                        <div class="btn-group" role="group">
                        <a href="#" class="btn btn-sm btn-warning" onclick="editar(${a.id})"><i class="fas fa-pencil"></i></a>
                        <a class="btn btn-primary btn-sm card-link" href="/Articulo/Detalle?id=${a.id}"><i class="fas fa-search"></i></a>
                        <a href="#" class="btn btn-sm btn-danger" onclick="eliminar(${a.id})"><i class="fas fa-trash"></i></a>
                        
                    <div/>                   
                    </td>
                </tr>`;
            });
            $('#tablaArticulos').html(html);
               //showHide(userType);
                endWait();
        });
    }

    $('#articuloForm').submit(function (e) {

        var contenidoHTML = quill.root.innerHTML;

        e.preventDefault();
        const id = $('#idArticulo').val();
        const dto = {
            titulo: $('#titulo').val(),
            resumen: $('#resumen').val(),
            contenido: contenidoHTML
        };

        const method = id ? 'PUT' : 'POST';
            const url = `${apiUri}/api/articles` +  (id ? `/${id}` : '');

            wait('Guardando...');

        $.ajax({
            url, method,
            headers: { Authorization: 'Bearer ' + localStorage.getItem('token') },
            contentType: 'application/json',
            data: JSON.stringify(dto),
            success: function () {
                $('#articuloForm')[0].reset();
                     quill.setText('');
                $('#idArticulo').val('');
                cargarArticulos();
                    endWait();
            },
            error: function () { 
                    endWait();
                alert('Error al guardar'); 
            }
        });
    });

    $('#cancelar').click(() => {
        $('#articuloForm')[0].reset();
        $('#idArticulo').val('');
             quill.setText('');
    });

     

    function editar(id /*, titulo, resumen, contenido*/) {
        var art= Articulos.filter(f=> f.id == id)[0];

        $('#idArticulo').val(id);
        $('#titulo').val(art.titulo);
        $('#resumen').val(art.resumen);
        //$('#contenido').val(art.contenido);
        $('#formTitulo').text('Editar artículo');

        var contenidoCrudo = art.contenido;
    var contenidoSeguro = DOMPurify.sanitize(contenidoCrudo);     
        quill.clipboard.dangerouslyPasteHTML(contenidoSeguro);
    }

    function eliminar(id) {
        if (!confirm('¿Eliminar artículo?')) return;
        wait('Procesando...');
        $.ajax({
                url: `${apiUri}/api/articles/${id}`,
            type: 'DELETE',
            headers: { Authorization: 'Bearer ' + localStorage.getItem('token') },
            success: function(){
            endWait();
            cargarArticulos;
            },
            error: function() 
            {
                      endWait();
                alert('No se pudo eliminar');

            }
        });
    }
    $(document).ready(function(){
        cargarArticulos();
    });
    
</script>
}
