@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Comentarios";
	ViewData["FormTitle"] = "Comentarios";

}

@section Styles
{
	<style>
		
	</style>

}

<h1>Comentarios</h1>

@section Scripts
{

	<script>

	</script>
}