@page
@model ArticulosWeb.Pages.Articulo.IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<h2>Últimos artículos</h2>

<div id="listaArticulos" class="row mt-4"></div>

@section Scripts {
    <script>

        $(document).ready(function () {
            wait('Obteniendo...');
            $.get(`${apiUri}/api/articles`, function (data) {
                let html = '';
                data.forEach(a => {
                    html += `
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <i id="iconoArticuloMini" class="fas fa-newspaper"></i><h5 class="card-title">${a.titulo}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">por ${a.autor}</h6>
                                <p class="card-text">${a.resumen}</p>
                                <a class="btn btn-primary btn-sm card-link" href="/Articulo/Detalle?id=${a.id}" ><i class="fas fa-search"></i>   Ver más</a>
                            </div>
                        </div>
                    </div>`;
                });
                $('#listaArticulos').html(html);
                  endWait();
            });
        });
    </script>
}
