################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ArticulosPrj/FileContentIndex/1fc9d601-6845-450f-a760-9325c0c344a0.vsidx
