@page
 @* @modelArticulosWeb.Web.Pages.IndexModel *@
@{
    ViewData["Title"] = "Detalle";
}
@section Styles
{
    <link href="~/css/articulo.css" rel="stylesheet" />
    <style>

    </style>

}
<h2 id="titulo"></h2>
<p><small id="autorFecha"></small></p>
<p id="contenido" class="mb-4"></p>

<h4>Comentarios</h4>
<ul id="comentarios" class="list-group mb-4"></ul>

<h5>Agregar comentario</h5>
<form id="comentarioForm">
    <textarea id="texto" class="form-control mb-2" required></textarea>
    <button type="submit" class="btn btn-primary">Comentar</button>
</form>
<script src="~/js/articulo.js"></script>
@section Scripts {
    <script>
          $(document).ready(function () {
         var idArticulo = new URLSearchParams(window.location.search).get('id');
        cargarArticulo(idArticulo);
           });
         
    </script>
}