@page
 @* @modelArticulosWeb.Web.Pages.IndexModel *@
@{
    ViewData["Title"] = "Inicio";
}
@section Styles
{
	<link href="~/css/articulo.css" rel="stylesheet" />
	<style>

	</style>

}
<h2>Últimos artículos</h2>

<div id="listaArticulos" class="row mt-4"></div>
<script src="~/js/articulo.js"></script>
@section Scripts {
<script>
  
</script>
}
